html, body {
    background-color: #eee;
}
h1 {
    font-size: 25px;
    margin-top: 0;
}

h2 {
    font-size: 23px;
}

.container > footer p {
    text-align: center; /* center align it with the container */
}
footer {
    margin-top: 15px;
}
.container {
    width: 620px;
}

.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
	    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}
